<div class="rounded-[8px] bg-[#D9D9D94D] p-4">
  <h3 class="acva-heading-5 fw-500 mb-8">Course Preview</h3>

  <div class="mb-4">
    <p class="acva-para-1 text-neutral-500">Session</p>
    <p class="acva-para-2">{{ template()?.session }}</p>
  </div>
  <div class="mb-4">
    <p class="acva-para-1 text-neutral-500">Semester</p>
    <p class="acva-para-2">{{ template()?.semester }}</p>
  </div>
  <div class="mb-4">
    <p class="acva-para-1 text-neutral-500">Course Title</p>
    <p class="acva-para-2">{{ template()?.courseTitle }}</p>
  </div>
  <div class="mb-4">
    <p class="acva-para-1 text-neutral-500">Course Code</p>
    <p class="acva-para-2">{{ template()?.courseCode }}</p>
  </div>
  <div class="mb-4">
    <p class="acva-para-1 text-neutral-500">Course Coordinator</p>
    <p class="acva-para-2">{{ template()?.courseCordinator }}</p>
  </div>
  <div class="mb-4">
    <p class="acva-para-1 text-neutral-500">Faculty</p>
    <p class="acva-para-2">{{ template()?.faculty }}</p>
  </div>
  <div class="mb-4">
    <p class="acva-para-1 text-neutral-500">Department</p>
    <p class="acva-para-2">{{ template()?.department }}</p>
  </div>
  <div class="mb-4">
    <p class="acva-para-1 text-neutral-500">Course Load</p>
    <p class="acva-para-2">{{ template()?.courseLoad }}</p>
  </div>
  <div class="mb-4">
    <p class="acva-para-1 text-neutral-500">Date Created</p>
    <p class="acva-para-2">
      {{ template()?.createdAt | date: 'MMM d, YYYY h:mm a' }}
    </p>
  </div>
</div>
