<div
  class="flex flex-col justify-between border border-gray-200 rounded-lg w-full min-h-[200px] p-4 bg-white shadow-sm hover:shadow-md transition-shadow"
>
  <div class="flex-1">
    <h4
      [matTooltip]="course()?.courseTitle | titlecase"
      class="acva-heading-6 text-lg font-semibold text-gray-900 mb-1 line-clamp-1"
    >
      {{ course()?.courseTitle | titlecase }}
    </h4>
    <p class="text-gray-600 text-sm mb-4">
      {{ course()?.courseCode }} - {{ course()?.courseLoad }} Unit(s)
    </p>

    <div class="space-y-2">
      <p class="text-gray-500 text-xs flex items-center gap-2">
        <app-svg
          svgWidth="0.875rem"
          svgHeight="0.875rem"
          src="icons/general/calendar-icon.svg"
        ></app-svg>
        {{ course()?.semester }}
      </p>

      <p class="text-gray-500 text-xs flex items-center gap-2">
        <app-svg
          svgWidth="0.875rem"
          svgHeight="0.875rem"
          src="icons/general/role-icon.svg"
        ></app-svg>
        {{ course()?.level }}
      </p>

      <p class="text-gray-500 text-xs flex items-center gap-2">
        <app-svg
          svgWidth="0.875rem"
          svgHeight="0.875rem"
          src="icons/general/building-icon.svg"
        ></app-svg>
        {{ course()?.department?.name }}
      </p>
    </div>
  </div>

  <div class="flex justify-end mt-8">
    <app-button
      label="Create Result"
      (clickEvent)="createResult()"
      class="btn-md"
    />
  </div>
</div>
