<div
  class="flex flex-col justify-between border-[1px] border-neutral-300 rounded-[8px] w-full min-h-[280px] p-4 relative bg-white hover:shadow-md transition-shadow"
>
  <div>
    <h4 class="acva-clamp-2 acva-heading-6 fw-500 mb-2">
      {{ course()?.courseTitle }}
    </h4>
    <p class="text-neutral-500 text-sm mb-4">
      {{ course()?.courseCode }} - {{ course()?.courseLoad }} Unit(s)
    </p>

    <div class="grid gap-3">
      <p class="text-neutral-400 text-sm flex items-center gap-2">
        <app-svg
          svgWidth="1rem"
          svgHeight="1rem"
          src="icons/general/calendar-icon.svg"
        ></app-svg>
        {{ course()?.semester }}
      </p>

      <p class="text-neutral-400 text-sm flex items-center gap-2">
        <app-svg
          svgWidth="1rem"
          svgHeight="1rem"
          src="icons/general/role-icon.svg"
        ></app-svg
        >{{ course()?.level }}
      </p>

      <p class="text-neutral-400 text-sm flex items-center gap-2">
        <app-svg
          svgWidth="1rem"
          svgHeight="1rem"
          src="icons/general/building-icon.svg"
        ></app-svg
        >{{ course()?.department?.name }}
      </p>
    </div>
  </div>

  <div class="flex justify-end mt-4">
    <app-button
      label="Create Result"
      class="btn-sm w-full"
      (clickEvent)="createResult()"
    />
  </div>
</div>
