<p>create-account works!</p>

<h1>Angular Router App</h1>

<nav>
  <ul>
    <li>
      <a
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
        routerLink="/login"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Login</a
      >
    </li>
    <li>
      <a
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
        routerLink="/create-account"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Create account</a
      >
    </li>
  </ul>
</nav>

<section class="auth-banner">
  <p>auth-banner works!</p>
</section>
