input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.acheva-input {
  .mat-mdc-form-field {
    .mat-mdc-text-field-wrapper {
      .mat-mdc-form-field-flex {
        gap: 0.5rem !important;
      }
    }
  }
}

// .acheva-input-radius{

// }

.input-style-1 {
  mat-form-field + mat-form-field {
    margin-left: 0.5rem;
  }
}
