/* stylelint-disable selector-class-pattern */
/* stylelint-disable property-no-vendor-prefix */

@use './app/@core/styles/abstracts/' as *;
@use './app/@core/styles/components/' as *;
@use 'tailwindcss';
@use '@angular/material' as mat;

// Reset Tailwind's border-style to avoid conflicts with Angular Material
@layer base {
  *,
  ::before,
  ::after {
    border-style: none; /* Neutralize Tailwind's border-style: solid */
  }
}

// Fix for mat-form-field outline appearance

.mdc-notched-outline__notch {
  /* Remove unwanted border line */

  border-right: none !important;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  cursor: auto !important;
}

[role='button'] {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 9.5px;
  height: 9.5px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cdk-overlay-container {
  z-index: 9999 !important;
}
