.notification-panel {
  .mat-mdc-dialog-container {
    padding: 0 !important;
    border-radius: 12px 0 0 12px !important;
    box-shadow: -4px 0 24px rgba(0, 0, 0, 0.1) !important;
    overflow: hidden;
  }

  .mdc-dialog__surface {
    border-radius: 12px 0 0 12px !important;
    overflow: hidden;
  }
}
